# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Branching statements/The sequence/out/
/Topics/Branching statements/The sequence/out/production/classes/
/Topics/Declaring a method/Calculating factorials/out/
/Topics/Declaring a method/Calculating factorials/out/production/classes/
/Topics/Declaring a method/Sum of numbers in the range/out/
/Topics/Declaring a method/Sum of numbers in the range/out/production/classes/
/Topics/Functional decomposition/Decompose a math function/out/
/Topics/Functional decomposition/Decompose a math function/out/production/classes/
/Topics/Iterating over arrays/Individual taxes/out/
/Topics/Iterating over arrays/Individual taxes/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Multidimensional array/Create cube/out/
/Topics/Multidimensional array/Create cube/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/String/Comparing strings ignoring whitespaces/out/
/Topics/String/Comparing strings ignoring whitespaces/out/production/classes/
/Topics/Switch statement/A simple calculator/out/
/Topics/Switch statement/A simple calculator/out/production/classes/
/Topics/Switch statement/Harry Potter/out/
/Topics/Switch statement/Harry Potter/out/production/classes/
/Topics/Switch statement/Test learners/out/
/Topics/Switch statement/Test learners/out/production/classes/
/Topics/The for-loop/Fizz Buzz/out/
/Topics/The for-loop/Fizz Buzz/out/production/classes/
/Topics/The for-loop/Maximum element divisible by four/out/
/Topics/The for-loop/Maximum element divisible by four/out/production/classes/
/Topics/The for-loop/The product of numbers from a to b/out/
/Topics/The for-loop/The product of numbers from a to b/out/production/classes/
/Topics/The for-loop/The sum of integers from a to b/out/
/Topics/The for-loop/The sum of integers from a to b/out/production/classes/
/Topics/What is an exception/Avoid division by zero/out/
/Topics/What is an exception/Avoid division by zero/out/production/classes/